
body {
  margin: 0;
  text-align: center;
  background: linear-gradient(to top left, #0575e6, #021b79);
}

h1 {
  font-family: 'Audiowide', cursive;
  color: #edf0f3;
  font-size: 3em;
}

h2 {
  font-family: 'Audiowide', cursive;
  color: #257ccd;
  font-size: 2em;
}

#main-container {
  height: calc(100vh - 60px);
}

#name-box {
  animation: 2.5s ease-in 0s 1 fadein;
  height: 400px;
  width: 600px;
  background-image: url("../Img/watercolor-splash.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .1s ease;
}

#name-box img {
  width: 100px;
}

/****** Nav Bar ******/

.header {
  height: 60px;
}

.nav {
  transition: background-color .7s ease-in-out;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

.nav-items {
  padding: 16px 0 16px 16px;
  font-family: 'Raleway', sans-serif;
  flex: 1;
}

.nav-items ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-items li {
  display: inline-block;
  font-size: 1.2em;
  line-height: 25px;
  margin: 0 10px;
}

.nav-items a {
  text-decoration: none;
  color: #257ccd;
  display: block;
  transition: .3s background-color;
}

.nav-items a.active {
  border-bottom: 1px solid #257ccd;
}

.nav-items a:hover {
  color: #267bcd;
  border-bottom: 1px solid #267bcd;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
